html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -500px;
}

#push,
#footer {
    height: 500px;
}

#footer {
    background-color: #e4122f;
    padding-top: 50px;
    padding-bottom: 450px;
}

#header {
    background-color: #FFFF00;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    -ms-opacity: 1;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: black;
}

.sm-simple img {
    margin: -4px 0 -4px 0;
}

.footer input {
    color: #000;
    background-color: rgb(228, 165, 43);
    padding: 9px 0 8px 2px;
    line-height: 15px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BE8513), color-stop(1, #E6AC39));
    background-image: -o-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -moz-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -webkit-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -ms-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: linear-gradient(to bottom, #BE8513 0, #E6AC39 100%);
}

.footer ul li {
    background: transparent;
    border: none;
    color: #f8d64e;
    font-family: Myriad Pro Regular, serif;
    font-size: 14px;
    margin: 0;
    padding: 4px 0 10px 0;
    line-height: 12px;
}

.footer h4 {
    color: #f8d64e;
    font-family: Myriad Pro Regular, serif;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-default.navbar-static-top {
    background-color: transparent;
    border-color: transparent;
}

#orders button, .custom-button {
    color: #7b4800;
    font-size: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BE8513), color-stop(1, #E6AC39));
    background-image: -o-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -moz-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -webkit-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -ms-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: linear-gradient(to bottom, #BE8513 0, #E6AC39 100%);
}

.custom-button > li > a:hover {
    background-color: #FFFF00;
}

#orders {
    width: 129px;
}

.caption a {
    color: #7b4800;
    font-size: 12px;
}

#navbar-breeds > ul {
    background-color: #42210e;
    border: none;
}

#navbar-breeds {
    background-color: #42210e;
    margin-bottom: 0;
}

.e-shop-custom-text, .navbar-default .navbar-nav > li > a {
    color: #7B4800;
    font-family: Myriad Pro, serif;
}

.sm-simple a {
    padding: 11px 10px 11px 3px;
    font-size: 18px;
    color: #a2cf2e;
}

.sm-simple li {
    border-left: none;
}