html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 270px;
}

#header {
    background-color: #FFFF00;
}

.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    /* Set the fixed height of the footer here */
    /*background-color: #f5f5f5;*/
    height: 270px;
    padding-top: 45px;
    -webkit-box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 6px 1px #000000;
    -ms-box-shadow: 4px 3px 6px 1px #000000;
    box-shadow: 4px 3px 6px 1px #000000;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQYV2P08fH5//v3bwZWVlYGGEDng8QZiVbo7u7+H6QD3US48VAGI0whugS6ZrBCZNNwuZNGCrG5D6sbifI1seEIACZ3M8ucbiWjAAAAAElFTkSuQmCC') repeat;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: black;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    -ms-opacity: 1;
    opacity: 1;
}

#navbar-breeds > .list-inline > li > a {
    color: #7b4800;
    font-size: 21px;
}

#navbar-breeds .dropdown a {
    color: #7b4800;
    padding: 3px; /* padding needed for bootstrap hover detection*/
    font-size: 21px;
    font-family: Myriad Pro, serif;
    margin-top: -6px;
}

#navbar-breeds .dropdown .dropdown-menu a {
    font-size: 17px;
}

#navbar-breeds .dropdown .dropdown-menu li {
    padding-left: 10px;
}

#navbar-breeds .dropdown .dropdown-menu li:first-child {
    padding-left: 0;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: black;
}

.sm-simple a span.sub-arrow {
    display: none;
}

.sm-simple > li > a.has-submenu {
    padding: 0 7px 0 0;
    font-size: 12px;
}

#main-menu {
    padding-right: 2px;
    height: 42px;
    border-bottom: 1px solid #DBA73E;
    border-left: 1px solid #E2C181;
    border-top: 1px solid #F7DFAC;
    background-image: linear-gradient(to bottom, #F3CA4E 0, #DC9A17 100%);
    box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
}

#main-menu li {
    border: none;
}

.sm-simple img {
    margin: -4px 0 -4px 0;
}

.pipe-line img {
    margin: 6px 1px 1px 0;
    padding: 0 0 0 1px;
}

#fb-logo {
    margin-top: 35px;
    margin-left: 12px;
}

#search-button {
    padding-right: 1px;
}

.dropdown-menu {
    min-width: 423px;
}

.footer input {
    color: #000;
    background-color: rgb(228, 165, 43);
    padding: 9px 0 8px 2px;
    line-height: 15px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BE8513), color-stop(1, #E6AC39));
    background-image: -o-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -moz-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -webkit-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -ms-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: linear-gradient(to bottom, #BE8513 0, #E6AC39 100%);
}

#navbar-main li a {
    padding-left: 9px;
    padding-top: 5px;
    padding-right: 9px;
    color: #7B4800;
    font-family: Myriad Pro, serif;
    font-size: 14px;
}

#navbar-main li:first-child > a {
    padding-left: 2px;
}

.footer ul li {
    background: transparent;
    border: none;
    color: #f8d64e;
    font-family: Myriad Pro Regular, serif;
    font-size: 14px;
    margin: 0;
    padding: 4px 0 4px 0;
    line-height: 12px;
}

.footer h4 {
    color: #f8d64e;
    font-family: Myriad Pro Regular, serif;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer h4:last-child {
    margin-bottom: 5px;
}

.footer .container {
    margin-left: 4px;
    margin-right: -1px;
}

.footer .container .row div:first-child {
}

.footer .container .row div:last-child {
}

#gooogle-map {
    padding-top: 13px;
}

#news-letter ul li > input {
    width: 129px;
}

#free-shipping {
    margin-top: 33px;
    margin-left: -48px;
}

#news-letter > .pull-right {
    padding-right: 2px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** Start NavBar */
.navbar.navbar-default.navbar-static-top .dropdown > li > a {
    color: #7b4800;
    font-family: Myriad Pro, serif;
    font-size: 14px;
    padding-left: 9px;
    padding-top: 19px;
    padding-right: 9px;
}

.nav.navbar-nav.navbar-right.xs-device li > a {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.nav.navbar-nav.navbar-right.xs-device {
    padding-right: 120px;
}

#breeds-toggle-btn li > a {
    padding-left: 5px;
    padding-right: 5px;
}

#breeds-toggle-btn li:first-child > a {
    padding-left: 2px;
}

/* Transaprent background */
.navbar.navbar-default.navbar-static-top {
    background-color: transparent;
    border-color: transparent;
}

body > .container {
    background-color: transparent;
    border-color: transparent;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAVElEQVQIWyXLsRHAIAxDURmzAIQp2H8JpgGnMAVwzpmo1LtPrTWrtSLGCN85ByQiNsZAKQ9C4As057S9N3rvyDmDmf/T1cGLlBJIVY2IbrbWwiuCD5q3Ky3K2elIAAAAAElFTkSuQmCC') repeat;
    padding-bottom: 13px;
}

.navbar.navbar-default.navbar-static-top input {
    border: 1px solid #bec3c8;
    border-right: none;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f2ecda;
    font-size: 12px;
}

.navbar.navbar-default.navbar-static-top button > .glyphicon.glyphicon-search {
    border: 1px solid #d38e29;
    top: -4px;
    padding: 9px 12px 10px 12px;
    margin-left: -8px;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEE27D), color-stop(1, #FDBC4C));
    background-image: -o-linear-gradient(bottom, #FEE27D 0, #FDBC4C 100%);
    background-image: -moz-linear-gradient(bottom, #FEE27D 0, #FDBC4C 100%);
    background-image: -webkit-linear-gradient(bottom, #FEE27D 0, #FDBC4C 100%);
    background-image: -ms-linear-gradient(bottom, #FEE27D 0, #FDBC4C 100%);
    background-image: linear-gradient(to bottom, #FEE27D 0, #FDBC4C 100%);
}

.navbar.navbar-default.navbar-static-top button:hover {
    border: 1px solid #bec3c8;
    border-left: none;
}

.navbar.navbar-default.navbar-static-top button {
    border-left: none;
    width: 42px;
}

.navbar.navbar-default.navbar-static-top .navbar-form .input-group.input-group-sm input,
.navbar.navbar-default.navbar-static-top .navbar-form .input-group.input-group-sm button {
    height: 37px;
    background-color: #f2ecda;
}

.navbar.navbar-default.navbar-static-top .navbar-form .input-group.input-group-sm input {
    padding-top: 17px;
    padding-bottom: 10px;
    padding-left: 11px;
}

#orders button {
    width: 129px;
    color: #7b4800;
    font-size: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BE8513), color-stop(1, #E6AC39));
    background-image: -o-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -moz-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -webkit-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: -ms-linear-gradient(bottom, #BE8513 0, #E6AC39 100%);
    background-image: linear-gradient(to bottom, #BE8513 0, #E6AC39 100%);
}

.caption a {
    color: #7b4800;
    font-size: 12px;
}

#navbar-breeds > .list-inline {
    padding-right: 2px;
    height: 42px;
    border-bottom: 1px solid #dba73e;
    border-left: 1px solid #e2c181;
    border-top: 1px solid #f7dfac;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3CA4E), color-stop(1, #DC9A17));
    background-image: -o-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
    background-image: -moz-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
    background-image: -webkit-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
    background-image: -ms-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
    background-image: linear-gradient(to bottom, #F3CA4E 0, #DC9A17 100%);
    -webkit-box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
}

#navbar-breeds > .list-inline > li {
    padding-left: 0;
    padding-right: 0;
    margin-top: -9px;
}

#navbar-breeds > .list-inline > li > a {
    padding-right: 2px;
    font-size: 21px;
    font-family: Myriad Pro;
}

#navbar-breeds > .list-inline > li:first-child > a {
    padding-left: 0;
    margin-left: -2px;
}

#navbar-breeds {
    margin-top: 15px;
}

#navbar-breeds > ul {
    border-radius: 3px;
}

/** End NavBar */

#sidebar {
    -webkit-box-shadow: 6px 6px 3px -1px rgba(234, 194, 114, 1);
    -moz-box-shadow: 6px 6px 3px -1px rgba(234, 194, 114, 1);
    box-shadow: 6px 6px 3px -1px rgba(234, 194, 114, 1);
    background: white;
    min-height: 500px;
}

#sidebar ul li a {
    padding: 1px 0 1px 0;
    color: #e99e03;
    font-size: 19px;
    font-family: Myriad Pro Regular, serif;
}

#sidebar ul li:first-child {
    color: #e99e03;
    font-size: 19px;
    font-family: Myriad Pro Regular, serif;
    padding-bottom: 13px;
    padding-top: 10px;
}

/** Tablets & Smarthpones */
@media (max-width: 767px) {
    .nav.navbar-nav.navbar-right.xs-device {
        padding-left: 0;
    }

    .navbar.navbar-default.navbar-static-top li > a, .navbar.navbar-default.navbar-static-top li:first-child > a,
    .nav.navbar-nav.navbar-right.xs-device li > a {
        padding-left: 28px;
        padding-bottom: 0;
    }

    .footer {
        width: 100%;
        left: 0;
        height: 552px;
    }

    .footer h4 {
        margin-bottom: 5px;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 552px;
    }

    #news-letter, #news-letter div, #news-letter .pull-right {
        float: none !important;
    }

    #navbar-search {
        margin: 0;
    }

    #breeds-toggle-btn {
        top: -44px;
    }

    #navbar-breeds {
        padding: 20px;
        min-height: 500px;
        background: none;
    }

    #navbar-breeds .list-inline {
        background-image: none;
    }

    #navbar-breeds > .list-inline > li {
        width: 100%;
        height: 42px;
        border-bottom: 1px solid #dba73e;
        border-left: 1px solid #e2c181;
        border-top: 1px solid #f7dfac;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3CA4E), color-stop(1, #DC9A17));
        background-image: -o-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
        background-image: -moz-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
        background-image: -webkit-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
        background-image: -ms-linear-gradient(bottom, #F3CA4E 0, #DC9A17 100%);
        background-image: linear-gradient(to bottom, #F3CA4E 0, #DC9A17 100%);
        -webkit-box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 0 -3px 5px -4px rgba(0, 0, 0, 0.75);
        padding: 0 0 50px;
        margin-bottom: 8px;
    }

    .pipe-line {
        display: none !important;
        background: none;
    }
}

@media (min-width: 768px)and (max-width: 1000px) {
    #navbar-breeds > .list-inline > li > a {
        /*padding: 0;
        margin: 0;*/
        font-size: 11px;
    }

    #free-shipping {
        margin-left: -60px;
    }

    #fb-logo {
        margin-left: 110px;
    }

    #navbar-breeds > .list-inline > li {
        /*padding: 0;
        margin: 0;*/
    }

    #navbar-search {
        margin-left: -30px;
    }

    #orders {
        margin-left: 10px;
    }

    #orders > .row {
        margin-left: 30px;
    }

    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .footer {
        width: 100%;
    }
}

@media (min-width: 800px)and (max-width: 991px) {
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #navbar-breeds > .list-inline > li > a {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #orders > .row {
        margin-left: 0;
    }

    #orders {
        margin-left: 0;
    }

    #fb-logo {
        margin-left: 0;
    }

    #navbar-breeds > .list-inline > li > a {
        font-size: 20px;
    }

    #navbar-search {
        margin-left: 40px;
    }
}

@media (min-width: 1001px) {
    .container {
        width: 1000px;
        padding-left: 0;
        padding-right: 0;
    }

    #navbar-breeds > .list-inline > li > a {
        font-size: 21px;
    }
}