.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}

.dropdown-menu {
    min-width: 200px;
}

#navbar-breeds li:last-child ul {
    left: -421px;
}

#navbar-breeds li:nth-last-child(3) ul {
    left: -259px;
}

#navbar-breeds li:nth-last-child(5) ul {
    left: -110px;
}

.dropdown-menu.columns-2 {
    min-width: 560px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu li a {
    padding: 5px 15px !important;
    font-weight: 300 !important;
}

.dropdown-menu li:first-child a {
    color: #7b4800;
    font-family: Myriad Pro;
    font-size: 21px;
    padding: 0;
    padding-left: 7px !important;
}

.multi-column-dropdown {
    list-style: none;
    padding-left: 0;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: white;
}